<h1>New Film</h1>

<%= render 'form' %>

<div id="movieResult">
  <h2 id="movieTitle"></h2>
  <p id="movieBody"></p>
  <p id="actorName"></p>
  <p id="actorAge"></p>
  <p id="actorBio"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/movies', values);
      posting.done(function(data) {
        debugger
        var movie = data;
        $("#movieTitle").text(movie["title"]);
        $("#movieBody").text(movie["description"]);
        $("#actorName").text(moviea["actors"][0]["name"]);
        $("#actorAge").text(movie["actors"][0]["age"]);
        $("#actorBio").text(movie["actors"][0]["bio"]);
      });
    });
  });



</script>
