<h1>New Film</h1>

<%= render 'form' %>

<div id="productResult">
  <h2 id="productTitle"></h2>
  <p id="productBody"></p>
  <p id="productInventory"></p>
  <p id="productPrice"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/products', values);
      posting.done(function(data) {
        var product = data;
        $("#productTitle").text(product["title"]);
        $("#productBody").text(product["description"]);
        $("#productInventory").text(product["inventory"]);
        $("#productPrice").text(product["price"]);
      });
    });
  });
</script>
