<h1>New Film</h1>

<div id="new-film-form"><%= render 'form' %></div>

<div id="movieResult">
  <h1 id="movieTitle"></h1>
  <p id="movieBody"></p>
  <h3 id="actorBody"></h3>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/movies', values);
      posting.done(function(data) {
        debugger
        var movie = data;
        $("h1").text("");
        $("#movieTitle").text(movie["title"]);
        $("#movieBody").text(movie["description"]);
        $("#actorBody").text("Starring: " + movie["actors"][0]["name"]);
        $("#new-film-form").text("");
      });
    });
  });



</script>
